@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style:auto;
    scrollbar-width: none;
  }
  /* Do not remove the above no-scrollbar styling. It is only to remove the
  scrollbar in trending section of the dashboard as tailwind doesn't have the above
  */
}
